<div class="footer">
	<div class="row">
		<div class="col-sm-12">
			<a class="btn btn-default" href="https://github.com/das-sudeshna" aria-label="GitHub" title="GitHub">
			<i class="fab fa-github"></i>
			</a>
			<a class="btn btn-default" href="https://www.linkedin.com/in/sudeshna-das-sd/" aria-label="LinkedIn" title="LinkedIn">
			<i class="fab fa-linkedin-in"></i>
			</a>
			<p class="pull-right">
			<small>Theme by <a href="http://jmcglone.com/">Jonathan McGlone</a></small>
			</p>
		</div>
	</div>
</div> <!-- /footer -->
