<div class="footer">
	<div class="row">
		<div class="col-sm-12">
			<small>Theme by <a href="http://jmcglone.com/">Jonathan McGlone</a></small>
			
			<p class="pull-right">
				<a class="btn btn-default" href="https://github.com/das-sudeshna" aria-label="GitHub">
				<i class="fab fa-github"></i>
				</a>
				<a class="btn btn-default" href="https://www.linkedin.com/in/sudeshna-das-sd/" aria-label="LinkedIn">
				<i class="fab fa-github"></i>
				</a>
			</p>
		</div>
	</div>
</div> <!-- /footer -->
