<div class="footer">
	<div class="row">
		<div class="col-sm-12">
			<small>Theme by <a href="http://jmcglone.com/">Jonathan McGlone</a></small>
			
			<p class="pull-right">
				<a class="btn btn-default" href="https://github.com/das-sudeshna" aria-label="GitHub">
				<i class="fab fa-github"></i>
				</a>
				<a class="btn btn-default" href="https://www.linkedin.com/in/sudeshna-das-sd/" aria-label="LinkedIn">
				<i class="fab fa-linkedin-in"></i>
				</a>
				<a class="btn btn-default" href="https://dblp.org/pid/50/7065-2" aria-label="DBLP">
				<i class="fa-solid fa-book-bookmark"></i>
				</a>
				<a class="btn btn-default" href="https://dl.acm.org/profile/99659281138" aria-label="ACM Digital Library">
				<i class="fa-solid fa-bookmark"></i>
				</a>
				<a class="btn btn-default" href="https://scholar.google.com/citations?hl=en&user=xG3ZpUoAAAAJ" aria-label="Google Scholar">
				<i class="fa fa-graduation-cap"></i>
				</a>
				<a class="btn btn-default" href="https://www.semanticscholar.org/author/2035728294" aria-label="Semantic Scholar">
				<i class="fa-solid fa-book-open-reader"></i>
				</a>
				<a class="btn btn-default" href="https://orcid.org/0000-0002-2112-6986" aria-label="ORCiD">
				<i class="fa fa-id-card"></i>
				</a>
			</p>
		</div>
	</div>
</div> <!-- /footer -->
