<head>
	<meta charset="utf-8">
	<meta name="viewport" width="device-width, initial-scale=1.0">
	<meta name="description" content="{{ page.description }}">
	<meta name="author" content="Sudeshna Das">
	
	<link rel="shortcut icon" href="/img/favicon.ico">
	
	<title>{{ page.title }}</title>		
	<!-- styles -->
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/jumbotron-narrow.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-154770509-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-154770509-1');
	</script>

</head>
